body {
    background-image: radial-gradient(circle,rgba(204, 172, 167, 0.796),rgb(124, 124, 56),rgba(181, 147, 147, 0.807));
}
h2 {
    text-align: center;
    color: #dfdfdf;

text-shadow: 0 2px 2px #dfdfdf, 
      -2px 5px 1px #b8b8b8, 
      -4px 8px 0px #979797, 
      -6px 11px 0px #747474,
      -8px 14px 0px #565656,
      
}
#mox {
    width: 320px; height: 70px; padding: 15px; margin-left: 400px;
    background-color: rgb(221, 86, 19);
    box-shadow: 5px 5px 3px 7px grey,10px 10px lightblue;
}
#banner {
    border-radius: 20px;
    width: 100%;
    height: 320px;
}
#one {
    display:inline-table;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    color: #241d2e;
    font-weight:300;
  margin-left: 10px;
    box-shadow: 3px 6px rgba(26, 115, 154, 0.855), 5px 7px rgba(10, 44, 37, 0.712) ;
}
#container {
    padding: 8px;
}
img {
    border-radius: 10px;

}
img:hover {opacity: 0.8;}
#button1 {
    display: inline-block;
    padding: 15px 15px;
    margin-top: 10px;
    font-size: 20px;
    cursor:pointer;
    color:#fff;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: 0 5px #999, 2px 7px #322;

}
#button1:hover{
    background-color: #3e8e41;
}
#button1:active{
    background-color: #3e8e41 ;
    box-shadow:0 3px #666, 2px 5px #322 ;
}