* {
    box-sizing: border-box;
    


}

.slide-show-con {
    border: 2px solid rgb(125, 85, 4);
    max-width: 500px;
    margin: auto;
    position: relative;
    border-radius: 15px;
}

.mySlides {
    display: none;

}
img {
    vertical-align: middle;
    float:none;
    border-radius: 15px;
}
.pre,
.nex {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.2s ease-in-out;
    border-radius:  20%;
    user-select: none;
}

.nex {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.pre:hover .nex:hover {
    background-color: rgba(0, 0, 0, .8);
}
.change button{
  text-align:center;
  display:flexbox;
  justify-content:flex-end;

}
.caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


body {
  height: 100%;
  margin: 0;
background-image: url(pawel-czerwinski-6lQDFGOB1iw-unsplash.jpg);
background-size: cover;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
}

.active,
.dot:hover {
    background-color: #907a7ad1;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .8
    }

    to {
        opacity: 1
    }
}
/*forms*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  #kik {
    background-image:linear-gradient(rgb(198, 217, 252),rgb(10, 40, 174));
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 2% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 500px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }


  .accordion {
    background-color: #5b87b7;
    color: #fbf4f4;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align:left;
    border-radius: 4px;
    border: none;
    outline:none;
    transition: 0.4s;
  }
  .active, .accordion:hover {
    background-color: #7f6262;
  }
  .panel {
    padding: 0 18px;
    background-color: rgb(154, 158, 198);
    display: none;
    overflow: hidden;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
 /* Style the tab */
.tab {
  float: right;
  margin-top: 250px;
  border: 1px solid #ccc;
  background-color: #7b7b7b;
  width: 30%;
  height: 150px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 16px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  margin-top: 250px;
  float: right;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 40%;
  border-left: none;
  height: 120px;
  background-color: #eda8a3;
}
