 html {
    -webkit-text-size-adjust:100% 
 }

* {

box-sizing: inherit;
    top: 0;
    left: 0;
}
 body {
    display: flexbox;
    background-color: rgb(65, 65, 65);
    top: 0;
 }
.bar-black {

    display: block;
    overflow: hidden;
    background-color: black;
    width: 100%;
border-radius: 5px;

}

.bar-black a {

    text-decoration: none;
    float: left;
    color: white;
    display: block;
    text-align: center;
    padding: 18px 25px;
    font-size: 15px;
    

}
.bar-black a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}


.img-cont {
    top: 10px;
    position: relative;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 6px white;
    text-align: center;
    
}

.img-cont img {
    margin-bottom: -5px;
    border-radius: 10px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.w3-wide {
    letter-spacing: 3px;
    font-weight: 400px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

.m-content h2 {
    margin-top: 20px;
    color: whitesmoke;
    text-shadow: 0 0 6px #ff70b7,0 0 9px #ff97cb;
    background-color: black;
    border-radius: 6px;
    border: 2px solid white;
}
 .m-content .w3-justify{
display: flex;
align-content: center;
    text-align: center;
    margin-top: 35px;
color: #ff97cb;
 }
.m-content img {
    float: right;
}
 .m-content .w3 {
    text-align: center;
    color: #ff70b7;
 }
 .m-content li {
    border: 1px solid black;
    padding: 6px;
    margin-bottom: 2px;
 }
.w3-row{
    display:flex;
    color: black;
    background-color: #fff;
    padding: 2px 8px;
    text-align: center;
  
}

.w3-row .w3-third {
    padding-left: 10px;
    font-size: 18px;
}
.w3-row .w3-third img {
    border-radius: 5px;
}

footer {
    display: block;
}

.w3-container {
    text-align: center;
    display: block;
    padding: 32px 16px;
    text-align: center;
    margin: auto;
    color: #fff;
background-color: black;
}
.w3-container #mac {
    padding-left:40px;

}





  